@mixin warningBackground () {
	$color: rgb(255, 176, 0);
	$bgColor: black;
	background-color: $bgColor;
	background-image: linear-gradient(to bottom right, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
	background-size: 2pc 2pc;
}

.bmko_list-limit-notice {
	margin: -10px 9px 6px 11px;

	font-size: 12px;
	text-transform: uppercase;
	color: var(--list-button-color);
	border-radius: 4px;

	&:empty {
		display: none;
	}

	span {
		float: right;
	}

	.bmko_list-over & {
		color: var(--list-color);
		& span {
			font-weight: bold;
		}
	}
}

.bmko_list-full,
.bmko_list-over {
	.placeholder::before,
	.placeholder::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.placeholder::before {
		display: block;
		content: " ";

		border-radius: 3px;

		@include warningBackground();
		opacity: .05;
	}

	.placeholder::after {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.bmko_refuse-new-cards {
	&::after {
		position: absolute;
		z-index: 5;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		content: " ";

		font-size: 30px;
		border-radius: 3px;

		@include warningBackground();
		opacity: .1;
	}
}
