@mixin warningBackground ($yellow, $opacity) {
	$color:   rgba($yellow, $opacity);
	$bgColor: rgba(0, 0, 0, $opacity);
	background-color: $bgColor;
	background-image: linear-gradient(to bottom right, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
	background-size: 2pc 2pc;
}

@mixin displayBlock {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	position: absolute;
	content: ' ';
}

.bmko_list-limit-notice {
	margin: -10px 9px 6px 11px;

	font-size: 12px;
	text-transform: uppercase;
	color: var(--list-button-color);
	border-radius: 4px;
	text-align: right;

	&:empty {
		display: none;
	}

	.bmko_list-over & {
		color: var(--list-color);
		font-weight: bold;
	}
}

.bmko_list-over::before {
	@include warningBackground(rgb(240, 216, 0), .5);
	@include displayBlock;

	// bottom
	// background-repeat: repeat-x;
	// top: auto;
	// height: 3px;
	// border-radius: 0 0 3px 3px;
	// background-size: 1pc 1pc;

	// top
	background-repeat: repeat-x;
	bottom: auto;
	height: 5px;
	border-radius: 3px 3px 0 0;
	background-size: 20px 20px;

	// Left hand side
	// background-repeat: repeat-y;
	// right: auto;
	// width: 3px;
	// border-radius: 3px 0 0 3px;
	// background-size: 1pc 1pc;
}

.bmko_list-would-be-full:not([data-bmko-original-list]),
.bmko_list-full:not([data-bmko-original-list]),
.bmko_list-over:not([data-bmko-original-list]) {
	.placeholder::before,
	.placeholder::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.placeholder::before {
		border-radius: 3px;
		@include warningBackground(rgb(247, 199, 92), .2);
		@include displayBlock;
	}

	.placeholder::after {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.bmko_refuse-new-cards {
	&::after {
		z-index: 5;
		font-size: 30px;
		border-radius: 3px;

		@include warningBackground(rgb(168, 120, 13), .25);
		@include displayBlock;
	}
}
